body {
    margin: 0;  
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5DEB3;
    height: 100%;
    width: 100%;
    padding-bottom: 60px;
}
.header {
    background: white;
    color:  black;
    font-size: 20px; 
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
}
.footer {
    color: #888;
    background-color: #333;
    line-height:  30px;
    padding-right: 20px;
    font-style: italic;
    text-align: right;
    font-size: 14px;  
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.step {
    width: 200px;
    height: 100px;
    border: 1px solid;
    position: absolute;
    top: 300px;
    left: 30px;
    background-color: #CD853F;
    text-align: center;
    font-size: 20px;
}
#snow {
    max-width: 300px;
}